.container
	.message	
		%ul#chat
			/ - @chat_messages.each do |chat_message|
			/ 	%li.item#report
			/ 		= chat_message.created_at.strftime('%-d/%-m/%Y %k:%M:%S')
			/ 		= ':'
			/ 		= chat_message.title
			/ 		= ':'
			/ 		= chat_message.tsg.department

			- @tsgs.each do |tsg|
				%li.tsg
					= tsg.name
					%ul
						- tsg.message_records.each do |chat_message|
							%li.item#report
								= chat_message.created_at.strftime('%-d/%-m/%Y %k:%M:%S')
								= ':'
								= chat_message.title
								= ':'
								= chat_message.tsg.department
	%hr

	.opt
		.submitbox	
			%input{type: 'text', name: 'message'}
			%button Post
	%hr

	.footer
		%ul
